In [160]:
import pandas as pd

In [161]:
internet_penetracion = pd.read_csv ("Datasets/Internet_Penetracion.csv", delimiter=",",thousands='.', decimal=',')

In [162]:
internet_penetracion.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          3     Buenos Aires                         78.11
1  2022          3  Capital Federal                        122.28
2  2022          3        Catamarca                         65.33
3  2022          3            Chaco                         43.86
4  2022          3           Chubut                         84.38

In [163]:
internet_penetracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 26.4+ KB

In [164]:
#convertimos las variables año, trimestre y provincia a variables categoricas
internet_penetracion['Año'] = internet_penetracion['Año'].astype(str)
internet_penetracion['Trimestre'] = internet_penetracion['Trimestre'].astype(str)
internet_penetracion['Provincia'] = internet_penetracion['Provincia'].astype(str)

In [165]:
internet_penetracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    object
 1   Trimestre                     840 non-null    object
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), object(3)
memory usage: 26.4+ KB

In [166]:
internet_acceso_BA = pd.read_csv ("Datasets/Internet_BAF.csv", delimiter=",",thousands='.', decimal=',')

In [167]:
internet_acceso_BA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           838 non-null    object
 5   Total             840 non-null    int64
dtypes: int64(4), object(2)
memory usage: 39.5+ KB

In [168]:
#reemplazar los valores -0 por 0 en la columna Dial up
internet_acceso_BA['Dial up'] = internet_acceso_BA['Dial up'].replace('- 0',"0")

In [169]:
#eliminar el . en el campo Dial Up
internet_acceso_BA['Dial up'] = internet_acceso_BA['Dial up'].str.replace('.', '', regex=False)

In [170]:
internet_acceso_BA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           838 non-null    object
 5   Total             840 non-null    int64
dtypes: int64(4), object(2)
memory usage: 39.5+ KB

In [171]:
internet_acceso_BA[internet_acceso_BA['Dial up'].isnull()]

      Año  Trimestre Provincia  Banda ancha fija Dial up   Total
416  2018          2   Formosa             44554     NaN   44554
421  2018          2  Misiones            106147     NaN  106147

In [172]:
#reemplazar los valores nulos con 0
internet_acceso_BA['Dial up'].fillna(value=0, inplace=True)

In [173]:
internet_acceso_BA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           840 non-null    object
 5   Total             840 non-null    int64
dtypes: int64(4), object(2)
memory usage: 39.5+ KB

In [174]:
#cambiar el tipo Dial Up a int64
internet_acceso_BA['Dial up'] = internet_acceso_BA['Dial up'].astype(int)

In [175]:
#convertir los campos año, trimestre y provincia a variables categoricas
internet_acceso_BA['Año'] = internet_acceso_BA['Año'].astype(str)
internet_acceso_BA['Trimestre'] = internet_acceso_BA['Trimestre'].astype(str)
internet_acceso_BA['Provincia'] = internet_acceso_BA['Provincia'].astype(str)

In [176]:
internet_acceso_BA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    object
 1   Trimestre         840 non-null    object
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           840 non-null    int32
 5   Total             840 non-null    int64
dtypes: int32(1), int64(2), object(3)
memory usage: 36.2+ KB

In [177]:
#Eliminar la columna total del df internet_acceso_BA
internet_acceso_BA = internet_acceso_BA.drop('Total', axis=1)

In [178]:
internet_acceso_BA.head()

    Año Trimestre        Provincia  Banda ancha fija  Dial up
0  2022         3     Buenos Aires           4715469     6199
1  2022         3  Capital Federal           1545534     2145
2  2022         3        Catamarca             70292        1
3  2022         3            Chaco            144141        5
4  2022         3           Chubut            164874      904

In [179]:
internet_acceso_tecnologia = pd.read_csv ("Datasets/Internet_Accesos-por-tecnologia.csv", delimiter=",",thousands='.', decimal=',')

In [180]:
internet_acceso_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    int64
 1   Trimestre     840 non-null    int64
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    int64
 4   Cablemodem    840 non-null    int64
 5   Fibra óptica  840 non-null    int64
 6   Wireless      840 non-null    int64
 7   Otros         840 non-null    int64
 8   Total         840 non-null    int64
dtypes: int64(8), object(1)
memory usage: 59.2+ KB

In [181]:
internet_acceso_tecnologia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339648,2748325,1436433,126846,70416,4721668
1,2022,3,Capital Federal,140791,1240125,129218,5758,31787,1547679
2,2022,3,Catamarca,10010,10495,46224,1329,2235,70293
3,2022,3,Chaco,27164,61800,44645,8178,2359,144146
4,2022,3,Chubut,45377,72212,9574,29784,8831,165778

In [182]:
#Eliminar la columna total del df internet_acceso_tecnologia
internet_acceso_tecnologia = internet_acceso_tecnologia.drop('Total', axis=1)

In [183]:
#convertimos las variables año, trimestre y provincia a variables categoricas
internet_acceso_tecnologia['Año'] = internet_acceso_tecnologia['Año'].astype(str)
internet_acceso_tecnologia['Trimestre'] = internet_acceso_tecnologia['Trimestre'].astype(str)
internet_acceso_tecnologia['Provincia'] = internet_acceso_tecnologia['Provincia'].astype(str)

In [184]:
internet_acceso_tecnologia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros
0,2022,3,Buenos Aires,339648,2748325,1436433,126846,70416
1,2022,3,Capital Federal,140791,1240125,129218,5758,31787
2,2022,3,Catamarca,10010,10495,46224,1329,2235
3,2022,3,Chaco,27164,61800,44645,8178,2359
4,2022,3,Chubut,45377,72212,9574,29784,8831

In [185]:
internet_velmed_bajada = pd.read_csv ("Datasets/historico_velocidad_internet.csv", delimiter=",",thousands='.', decimal=',')

In [186]:
internet_velmed_bajada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    int64
 1   Trimestre               840 non-null    int64
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    int64
 4   Unnamed: 4              0 non-null      float64
 5   Unnamed: 5              0 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 39.5+ KB

In [187]:
#Eliminar las columnas sin registros "unnamed"
internet_velmed_bajada = internet_velmed_bajada.drop(['Unnamed: 4', 'Unnamed: 5'], axis=1)

In [188]:
#convertir las variables año, trimestre y provincia a variables categoricas
internet_velmed_bajada['Año'] = internet_velmed_bajada['Año'].astype(str)
internet_velmed_bajada['Trimestre'] = internet_velmed_bajada['Trimestre'].astype(str)
internet_velmed_bajada['Provincia'] = internet_velmed_bajada['Provincia'].astype(str)

In [189]:
internet_velmed_bajada.head(3)

    Año Trimestre        Provincia  Mbps (Media de bajada)
0  2022         3     Buenos Aires                      70
1  2022         3  Capital Federal                     101
2  2022         3        Catamarca                      61

In [190]:
#crear un data frame a partir de los dataframes anteriores 
internet_provincias = pd.merge(pd.merge(pd.merge(internet_penetracion, internet_acceso_BA, on=['Año', 'Trimestre', 'Provincia']), internet_acceso_tecnologia, on=['Año', 'Trimestre', 'Provincia']), internet_velmed_bajada, on=['Año', 'Trimestre', 'Provincia'])

In [191]:
internet_provincias.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    object
 1   Trimestre                     840 non-null    object
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
 4   Banda ancha fija              840 non-null    int64
 5   Dial up                       840 non-null    int32
 6   ADSL                          840 non-null    int64
 7   Cablemodem                    840 non-null    int64
 8   Fibra óptica                  840 non-null    int64
 9   Wireless                      840 non-null    int64
 10  Otros                         840 non-null    int64
 11  Mbps (Media de bajada)        840 non-null    int64
dtypes: float64(1), int32(1), int64(7), object(3)
memory usage: 82.0+ KB

In [192]:
#poner los nombres de las columnas en minusculas.
internet_provincias = internet_provincias.rename(columns=lambda x: x.lower())

In [193]:
internet_provincias.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   año                           840 non-null    object
 1   trimestre                     840 non-null    object
 2   provincia                     840 non-null    object
 3   accesos por cada 100 hogares  840 non-null    float64
 4   banda ancha fija              840 non-null    int64
 5   dial up                       840 non-null    int32
 6   adsl                          840 non-null    int64
 7   cablemodem                    840 non-null    int64
 8   fibra óptica                  840 non-null    int64
 9   wireless                      840 non-null    int64
 10  otros                         840 non-null    int64
 11  mbps (media de bajada)        840 non-null    int64
dtypes: float64(1), int32(1), int64(7), object(3)
memory usage: 82.0+ KB

In [194]:
internet_provincias.head()

,año,trimestre,provincia,accesos por cada 100 hogares,banda ancha fija,dial up,adsl,cablemodem,fibra óptica,wireless,otros,mbps (media de bajada)
0,2022,3,Buenos Aires,78.11,4715469,6199,339648,2748325,1436433,126846,70416,70
1,2022,3,Capital Federal,122.28,1545534,2145,140791,1240125,129218,5758,31787,101
2,2022,3,Catamarca,65.33,70292,1,10010,10495,46224,1329,2235,61
3,2022,3,Chaco,43.86,144141,5,27164,61800,44645,8178,2359,53
4,2022,3,Chubut,84.38,164874,904,45377,72212,9574,29784,8831,16

In [195]:
#normalizar las columnas numericas
internet_provincias['banda ancha fija'] = internet_provincias['banda ancha fija'] / 1000000
internet_provincias['dial up'] = internet_provincias['dial up'] / 1000000
internet_provincias['adsl'] = internet_provincias['adsl'] / 1000000
internet_provincias['cablemodem'] = internet_provincias['cablemodem'] / 1000000
internet_provincias['fibra óptica'] = internet_provincias['fibra óptica'] / 1000000
internet_provincias['wireless'] = internet_provincias['wireless'] / 1000000
internet_provincias['otros'] = internet_provincias['otros'] / 1000000

In [196]:
internet_provincias.head()

,año,trimestre,provincia,accesos por cada 100 hogares,banda ancha fija,dial up,adsl,cablemodem,fibra óptica,wireless,otros,mbps (media de bajada)
0,2022,3,Buenos Aires,78.11,4.715469,0.006199,0.339648,2.748325,1.436433,0.126846,0.070416,70
1,2022,3,Capital Federal,122.28,1.545534,0.002145,0.140791,1.240125,0.129218,0.005758,0.031787,101
2,2022,3,Catamarca,65.33,0.070292,0.000001,0.010010,0.010495,0.046224,0.001329,0.002235,61
3,2022,3,Chaco,43.86,0.144141,0.000005,0.027164,0.061800,0.044645,0.008178,0.002359,53
4,2022,3,Chubut,84.38,0.164874,0.000904,0.045377,0.072212,0.009574,0.029784,0.008831,16

In [197]:
#cargar el dataframe de las provincias con su poblacion por año
poblacion_argentina = pd.read_csv ("Datasets/poblacion argentina provincias 2014 a 2022.csv", delimiter=";",decimal=',')

In [198]:
poblacion_argentina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   año         840 non-null    int64
 1   trimestre   840 non-null    int64
 2   provincia   840 non-null    object
 3   poblacion   840 non-null    float64
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
dtypes: float64(3), int64(2), object(1)
memory usage: 39.5+ KB

In [199]:
poblacion_argentina['año'] = poblacion_argentina['año'].astype(str)
poblacion_argentina['trimestre'] = poblacion_argentina['trimestre'].astype(str)
poblacion_argentina['provincia'] = poblacion_argentina['provincia'].astype(str)

In [200]:
#Eliminar las columnas unnamed sin registros.
poblacion_argentina = poblacion_argentina.drop(['Unnamed: 4', 'Unnamed: 5'], axis=1)

In [201]:
poblacion_argentina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   año        840 non-null    object
 1   trimestre  840 non-null    object
 2   provincia  840 non-null    object
 3   poblacion  840 non-null    float64
dtypes: float64(1), object(3)
memory usage: 26.4+ KB

In [202]:
#unir el df de internet provincias con el df de poblacion
internet_provincias = pd.merge(internet_provincias, poblacion_argentina, on=['año', 'trimestre', 'provincia'])

In [203]:
internet_provincias.head()

,año,trimestre,provincia,accesos por cada 100 hogares,banda ancha fija,dial up,adsl,cablemodem,fibra óptica,wireless,otros,mbps (media de bajada),poblacion
0,2022,3,Buenos Aires,78.11,4.715469,0.006199,0.339648,2.748325,1.436433,0.126846,0.070416,70,17.57
1,2022,3,Capital Federal,122.28,1.545534,0.002145,0.140791,1.240125,0.129218,0.005758,0.031787,101,3.12
2,2022,3,Catamarca,65.33,0.070292,0.000001,0.010010,0.010495,0.046224,0.001329,0.002235,61,0.43
3,2022,3,Chaco,43.86,0.144141,0.000005,0.027164,0.061800,0.044645,0.008178,0.002359,53,1.14
4,2022,3,Chubut,84.38,0.164874,0.000904,0.045377,0.072212,0.009574,0.029784,0.008831,16,0.60

In [204]:
#normalizar las variables por porcentaje de poblacion 
internet_provincias['banda ancha fija'] = internet_provincias['banda ancha fija'] * 100/internet_provincias['poblacion'] 
internet_provincias['dial up'] = internet_provincias['dial up'] * 100/internet_provincias['poblacion'] 
internet_provincias['adsl'] = internet_provincias['adsl'] * 100/internet_provincias['poblacion'] 
internet_provincias['cablemodem'] = internet_provincias['cablemodem'] * 100/internet_provincias['poblacion'] 
internet_provincias['fibra óptica'] = internet_provincias['fibra óptica'] * 100/internet_provincias['poblacion'] 
internet_provincias['wireless'] = internet_provincias['wireless'] * 100/internet_provincias['poblacion'] 
internet_provincias['otros'] = internet_provincias['otros'] * 100/internet_provincias['poblacion']

In [205]:
internet_provincias.head().round(2)

,año,trimestre,provincia,accesos por cada 100 hogares,banda ancha fija,dial up,adsl,cablemodem,fibra óptica,wireless,otros,mbps (media de bajada),poblacion
0,2022,3,Buenos Aires,78.11,26.84,0.04,1.93,15.64,8.18,0.72,0.40,70,17.57
1,2022,3,Capital Federal,122.28,49.54,0.07,4.51,39.75,4.14,0.18,1.02,101,3.12
2,2022,3,Catamarca,65.33,16.35,0.00,2.33,2.44,10.75,0.31,0.52,61,0.43
3,2022,3,Chaco,43.86,12.64,0.00,2.38,5.42,3.92,0.72,0.21,53,1.14
4,2022,3,Chubut,84.38,27.48,0.15,7.56,12.04,1.60,4.96,1.47,16,0.60

In [206]:
#exportar el data frame "internet_provincias" como csv 
internet_provincias.to_csv('Datasets limpios/internet_provincias.csv', index=False)

DATASETS PARA EL ANÁLISIS DEL COMPORTAMIENTO ASOCIADO ENTRE SERVICIOS DE COMUNICACIÓN

In [207]:
#Cargar el data set tel_movil en un df
total_tel_movil = pd.read_csv ("Datasets/Telefonia_movil.csv", delimiter=",",thousands='.', decimal=',')

In [208]:
#obtener la info del df
total_tel_movil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Año                          39 non-null     int64
 1   Trimestre                    39 non-null     int64
 2   Total de accesos pospago     39 non-null     int64
 3   Total de accesos prepago     39 non-null     int64
 4   Total de accesos operativos  39 non-null     int64
 5   Periodo                      39 non-null     object
dtypes: int64(5), object(1)
memory usage: 2.0+ KB

In [209]:
#Eliminar columnas innecesarias
total_tel_movil = total_tel_movil.drop('Total de accesos pospago', axis=1)
total_tel_movil = total_tel_movil.drop('Total de accesos prepago', axis=1)
total_tel_movil = total_tel_movil.drop('Periodo', axis=1)

In [210]:
# Convertir a tipo str los campos Año y Trimestre.
total_tel_movil['Año'] = total_tel_movil['Año'].astype(str)
total_tel_movil['Trimestre'] = total_tel_movil['Trimestre'].astype(str)

In [211]:
#Cambiar el nombre al campo Accesos por cada 100 hab tel_movil
total_tel_movil.rename(columns={'Total de accesos operativos': 'Total tel movil'}, inplace=True)

In [212]:
total_tel_movil = total_tel_movil.drop(total_tel_movil[total_tel_movil['Año'].isin(['2013', '2014'])].index).reset_index(drop=True)

In [213]:
total_tel_movil.shape

(31, 3)

In [214]:
total_tel_movil.head()

    Año Trimestre  Total tel movil
0  2015         1         60221863
1  2015         2         59875466
2  2015         3         60732511
3  2015         4         61842011
4  2016         1         61486761

In [215]:
#Cargar el data set tel_fija en un df
total_tel_fija = pd.read_csv ("Datasets/telefonia_fija.csv", delimiter=",",thousands='.', decimal=',')

In [216]:
#obtener la info del df
total_tel_fija.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 35 non-null     int64
 1   Trimestre                           35 non-null     int64
 2   Accesos telefonía fija (total)      35 non-null     int64
 3   Accesos telefonía fija (hogares)    35 non-null     int64
 4   Accesos telefonía fija (comercial)  35 non-null     int64
 5   Accesos telefonía fija (gobierno)   35 non-null     int64
 6   Accesos telefonía fija (otros)      35 non-null     int64
 7   Periodo                             35 non-null     object
dtypes: int64(7), object(1)
memory usage: 2.3+ KB

In [217]:
#Eliminar columnas innecesarias
total_tel_fija = total_tel_fija.drop('Accesos telefonía fija (hogares)', axis=1)
total_tel_fija = total_tel_fija.drop('Accesos telefonía fija (comercial)', axis=1)
total_tel_fija = total_tel_fija.drop('Accesos telefonía fija (gobierno)', axis=1)
total_tel_fija = total_tel_fija.drop('Accesos telefonía fija (otros)', axis=1)
total_tel_fija = total_tel_fija.drop('Periodo', axis=1)

In [218]:
# Convertir a tipo str los campos Año y Trimestre.
total_tel_fija['Año'] = total_tel_fija['Año'].astype(str)
total_tel_fija['Trimestre'] = total_tel_fija['Trimestre'].astype(str)

In [219]:
#Cambiar el nombre al campo Accesos por cada 100 hab tel_movil
total_tel_fija.rename(columns={'Accesos telefonía fija (total)': 'Total tel fija'}, inplace=True)

In [220]:
#eliminar los registros 2013 y 2014
total_tel_fija = total_tel_fija.drop(total_tel_fija[total_tel_fija['Año'].isin(['2013', '2014'])].index).reset_index(drop=True)

In [221]:
total_tel_fija.shape

(31, 3)

In [222]:
#obtener la info del df
total_tel_fija.head()

    Año Trimestre  Total tel fija
0  2015         1        10086221
1  2015         2         9991190
2  2015         3        10050617
3  2015         4         9975798
4  2016         1        10239381

In [223]:
#Cargar el data set tel_fija en un df
total_television = pd.read_csv ("Datasets/television.csv", delimiter=",",thousands='.', decimal=',')

In [224]:
#obtener la info del df
total_television.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Año                         34 non-null     int64
 1   Trimestre                   34 non-null     int64
 2   Accesos TV por suscripción  34 non-null     int64
 3   Accesos TV satelital        34 non-null     int64
 4   Periodo                     34 non-null     object
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

In [225]:
#obtener el total de accesos a tv de paga
total_television['Total tv paga'] = total_television['Accesos TV por suscripción'] + total_television['Accesos TV satelital']

In [226]:
#Eliminar columnas innecesarias
total_television = total_television.drop('Accesos TV por suscripción', axis=1)
total_television = total_television.drop('Accesos TV satelital', axis=1)
total_television = total_television.drop('Periodo', axis=1)

In [227]:
# Convertir a tipo str los campos Año y Trimestre.
total_television['Año'] = total_television['Año'].astype(str)
total_television['Trimestre'] = total_television['Trimestre'].astype(str)

In [228]:
#eliminar los registros 2013 y 2014
total_television = total_television.drop(total_television[total_television['Año'].isin(['2013', '2014'])].index).reset_index(drop=True)

In [229]:
total_television.shape

(31, 3)

In [230]:
total_television.head()

    Año Trimestre  Total tv paga
0  2022         3        9730630
1  2022         2        9712221
2  2022         1        9614455
3  2021         4        9606975
4  2021         3        9824463

In [231]:
#Cargar el data set tel_fija en un df
total_internet = pd.read_csv ("Datasets/internet.csv", delimiter=",",thousands='.', decimal=',')

In [232]:
#obtener la info del df
total_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     int64
 3   Dial up           35 non-null     int64
 4   Total             35 non-null     int64
 5   Periodo           35 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

In [233]:
#Eliminar columnas innecesarias
total_internet = total_internet.drop('Banda ancha fija', axis=1)
total_internet = total_internet.drop('Dial up', axis=1)
total_internet = total_internet.drop('Periodo', axis=1)

In [234]:
# Convertir a tipo str los campos Año y Trimestre.
total_internet['Año'] = total_internet['Año'].astype(str)
total_internet['Trimestre'] = total_internet['Trimestre'].astype(str)

In [235]:
#eliminar los registros 2013 y 2014
total_internet = total_internet.drop(total_internet[total_internet['Año'].isin(['2013', '2014'])].index).reset_index(drop=True)

In [236]:
#cambiar nombre  a la columna total 
total_internet.rename(columns={'Total': 'Total internet'}, inplace=True)

In [237]:
total_internet.shape

(31, 3)

In [238]:
total_internet.head()

    Año Trimestre  Total internet
0  2022         3        11091128
1  2022         2        10958684
2  2022         1        10624009
3  2021         4        10489794
4  2021         3        10085541

In [239]:
#crear un data frame a partir de los dataframes anteriores 
serv_comunicación = pd.merge(pd.merge(pd.merge(total_internet, total_tel_fija, on=['Año', 'Trimestre']), total_tel_movil, on=['Año', 'Trimestre']), total_television, on=['Año', 'Trimestre'])

In [240]:
#poner los nombres de las columnas en minusculas.
serv_comunicación = serv_comunicación.rename(columns=lambda x: x.lower())

In [241]:
serv_comunicación.head()

,año,trimestre,total internet,total tel fija,total tel movil,total tv paga
0,2022,3,11091128,7525944,59713503,9730630
1,2022,2,10958684,7633074,59502291,9712221
2,2022,1,10624009,7664854,59402581,9614455
3,2021,4,10489794,7626355,59065827,9606975
4,2021,3,10085541,7003303,57812509,9824463

In [242]:
#normalizar las columnas numericas
serv_comunicación['total internet'] = serv_comunicación['total internet'] / 1000000
serv_comunicación['total tel fija'] = serv_comunicación['total tel fija'] / 1000000
serv_comunicación['total tel movil'] = serv_comunicación['total tel movil'] / 1000000
serv_comunicación['total tv paga'] = serv_comunicación['total tv paga'] / 1000000

In [243]:
#eliminar los registros del tercer trimestre del 2022
serv_comunicación = serv_comunicación.drop(
    serv_comunicación[(serv_comunicación['año'] == "2022") & (serv_comunicación['trimestre'] == "3")].index)

In [244]:
#exportar el data frame como csv 
serv_comunicación.to_csv('Datasets limpios/servicios de comunicacion por año.csv', index=False)